$color:#00aca5;

@mixin omits($number) {
    display           : -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow          : hidden;
}

@mixin wh100() {
    width  : 100%;
    height : 100%;
    display: block;
}

@mixin imgHover() {
    &:hover {

        .img {
            img {
                transform: scale(1.1)
            }
        }
    }

    .img {
        overflow: hidden;

        img {
            @include transition();
        }
    }
}

@mixin positionCenter() {
    position: absolute;
    left    : 0;
    right   : 0;
    bottom  : 0;
    top     : 0;
    margin  : auto;
}

@mixin clearfix() {
    &:after {
        content   : "";
        display   : block;
        height    : 0;
        clear     : both;
        visibility: hidden
    }
}

@mixin omit() {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

@mixin transition() {
    transition: 0.5s ease all;
}

@mixin flexCenter() {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

@mixin bgInit {
    background-repeat  : no-repeat;
    background-position: center center;
    background-size    : cover;
}

@mixin fontInit($size, $color) {
    font-size: $size;
    color    : $color;
}