
.commonTitle{
    margin-bottom: 35px;
    padding-top:60px;
    span{
        display: block;
        &:nth-of-type(1){
            font-size: 30px;
            color:#505050;
            position:relative;
            &::after{
                position:absolute;
                width:30px;
                height:4px;
                background:$color;
                left:0;
                bottom:-5px;
                content:'';
            }
        }
        &:nth-of-type(2){
            font-size: 18px;
            color:#b1b1b1;
            font-family: 'Myriad Pro';
            margin-top: 20px;
        }
    }
}

@media (max-width:767px){
    .commonTitle{
        margin-bottom: 15px;
        padding-top: 30px;
        span{
            &:nth-of-type(1){
                font-size:22px;
            }
            &:nth-of-type(2){
                font-size:14px
            }
        }
    }
}