<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>

    <%= require('../components/common/file/index.html')() %>
    <script src="./js/index.js"></script>

</head>

<body>

    <% if (false) { %>
    <%= require('../components/common/header/index.html')() %>
    <%= require('../components/common/footer/index.html')() %>
    <% } %>

</body>

</html>