<div class="rightbottom">
    <ul>
        <li>
            <a href="javascript:;">
                <img class="img-fluid" src="${require('@/images/iconfont_rightbottom_0.png')}" alt="">
            </a>
        </li>
        <li>
            <div class="parent">
                <img class="img-fluid" src="${require('@/images/iconfont_rightbottom_1.png')}" alt="">
                <div class="position">
                    xxx-xxxx-xxxx
                </div>
            </div>
        </li>
        <li>
            <div class="parent">
                <img class="img-fluid" src="${require('@/images/iconfont_rightbottom_2.png')}" alt="">
                <div class="position">
                    <img class="img-fluid" src="${require('@/images/erweima.jpg')}" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="parent">
                <img class="img-fluid" src="${require('@/images/iconfont_rightbottom_3.png')}" alt="">
            </div>
        </li>
    </ul>
</div>