<div class="commonListDetailsRight">
    <%= require('../../../components/common/commonRecommended/index.html')() %>

    <div class="commonRecommended Paymentparent">
        <div class="title">订购流程</div>
        <ul class="Payment">
            <dl>
                <dt>
                    <div class="tit">电话购买</div>
                    <div class="con">
                        <p>拔打普华有策全国统一客户服务热线：01089218002，24小时值班热线杜经理：13911702652（微信同号），张老师：18610339331</p>
                    </div>
                </dt>
                <dt>
                    <div class="tit">在线订购</div>
                    <div class="con">
                        <p>点击“在线订购”进行报告订购，我们的客服人员将在24小时内与您取得联系</p>
                    </div>
                </dt>
                <dt>
                    <div class="tit">邮件订购</div>
                    <div class="con">
                        <p>发送邮件到puhua_policy@126.com；或13911702652@139.com，我们的客服人员会在24小时内与您取得联系</p>
                    </div>
                </dt>
                <dt>
                    <div class="tit">签订协议</div>
                    <div class="con">
                        <p>您可直接下载“订购协议”，或电话、微信致电我公司工作人员，由我公司工作人员以邮件或微信给您“订购协议”；扫描件或快递原件盖章版</p>
                    </div>
                </dt>
            </dl>
        </ul>
    </div>

    <div class="commonRecommended Paymentparent">
        <div class="title">支付方式</div>
        <ul class="Payment">
            <dl>
                <dt>
                    <div class="tit">对公打款</div>
                    <div class="con">
                        <p><img src="${require('@/images/yihnahng.png')}" class="img-fluid" alt=""></p>
                        <p>开户银行：中国农业银行股份有限公司北京复兴路支行</p>
                        <p>账号：1121 0301 0400 11817</p>
                    </div>
                </dt>
                <dt>
                    <div class="tit">扫码支付，微信、支付宝、云闪付</div>
                    <div class="con">
                        <p><img src="${require('@/images/adoiqwje12.png')}" class="img-fluid" alt=""></p>
                    </div>
                </dt>
                <dt>
                    <div class="tit">个人账户</div>
                    <div class="con">
                        <p>户名：杜丽刚</p>
                        <p>账号：6228480018923929170</p>
                        <p>中国农业银行</p>
                    </div>
                </dt>
                <dt>
                    <div class="tit">交付报告</div>
                    <div class="con">
                        <p>电子版（PDF）报告，公司销售经理会以邮件或微信形式发送到订购时所留地址；</p>
                        <p>印刷版（书）报告，公司将委托知名快递公司为您送货上门，且快递费由我方全部承担。</p>
                    </div>
                </dt>
                <dt>
                    <div class="tit">发票说明</div>
                    <div class="con">
                        <p>任何客户订购普华有策产品，公司都将出具全额的正规增值税发票。发票我们将以快递形式及时送达。</p>
                    </div>
                </dt>
            </dl>
        </ul>
    </div>



</div>