<footer>

    <div class="container">

        <div class="block1">
            
            <div class="o">
                <div class="title">联系我们</div>
                <p>聊城鑫迈金属制品有限公司</p>
                <p>地址：山东省聊城高新技术开发区</p>
                <p>服务热线：18201450258</p>
                <p>邮箱：807493749@qq.com</p>
            </div>

            <div class="n">
                <div class="title">关注我们</div>
                <p>扫描右方二维码</p>
                <p>关注我们</p>
            </div>

            <div class="wx">
                <img src="${require('@/images/wx.png')}" class="img-fluid" alt="">
            </div>

        </div>

        <div class="block2">
            <p>© 2017 Unipharm Healthy Manufacturing Co. Ltd. All Right Reserved.</p>
            <p>技术支持: <a href="javascript:;">商企云</a></p>
        </div>

    </div>

</footer>